.App {
  text-align: left;
  background-color: #353535;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #007AD3;
  height: 125px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card {
  margin-bottom: 10px;
  background-color: #61B2EA;
}

.main-header {
  margin-top: 20px;
}

.form-card {
  color: white;
  background-color: #353535;
  border: none;
}

.btn {
  margin-bottom: 10px;
}
